:root {
    --neutral-0: #FFFFFF;
    --neutral-50: #F9F9F9;
    --neutral-100: #F2F2F2;
    --neutral-200: #E6E6E6;
    --neutral-300: #D9D9D9;
    --neutral-400: #CCCCCC;
    --neutral-500: #BFBFBF;
    --neutral-600: #A6A6A6;
    --neutral-700: #8C8C8C;
    --neutral-800: #737373;
    --neutral-900: #262626;

    --accent: #db9327;
    --accent-bis: #694610;
    --neutral: #FFA500;
    --link: #cac535;

    --success: #32CD32;
    --warning: #FFD700;
    --error: #FF4500;

    --border-extreme-reverse: var(--neutral-0);
    --border-extreme: var(--neutral-900);
    --border-strong: var(--neutral-800);
    --border-moderate: var(--neutral-700);
    --border-weak: var(--neutral-600);
    --border-muted: var(--neutral-400);
    --border-CDT: var(--CDT);
    --border-prot-urine: var(--protein-urine);
    --border-HB1C: var(--HB1C);
    --border-P6IT: var(--P6IT);
    --border-accent: var(--accent);

    --background-primary-reverse: var(--neutral-0);
    --background-primary: #FFFAF0;
    --background-secondary: #FFF5EB;
    --background-tertiary: var(--neutral-50);
    --background-muted: #FFF0E0;
    --background-soft: var(--neutral-50);
    --background-accent: var(--accent);
    --background-accent-bis: var(--accent-bis);

    --content-primary: var(--neutral-900);
    --content-accent: var(--accent);
    --content-accent-bis: var(--accent-bis);
    --content-primary-reverse: var(--neutral-0);
    --content-secondary: var(--neutral-800);
    --content-secondary-reverse: var(--neutral-200);
    --content-tertiary: var(--neutral-700);
    --content-tertiary-reverse: var(--neutral-300);
}