@import url('./shared/styles/colors.scss');
@import url('./shared/styles/fonts.scss');

body {
  margin: 0;
  font-family: raleway;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
  width: 100%;
}

html {
  height:100%;
  width: 100%;
}

#root {
  height:100%;
  width:100%;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}